*{
    margin: 0;
    padding: 0;
}
.logoweb{
    max-height: 10rem;
    h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
    }
}



.carousel-inner{
    height: 65vh;
    min-height: 600px;
    background: no-repat center center scroll;
    -webkit-backdrop-size: cover;
}

.logowebfooter{
    max-height: 5rem;
}



.demo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px 1px;
    text-align: center;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif; 
    @media (max-width:768px){
        .demo-grid {
            display: grid;
            grid-template-columns: 1fr;
        } 
}
}
    


.radio{
    padding: 50px;
}


.formulario{
    margin: 20px;
    padding: 20px;
}

.perfilPic{
    margin-bottom: 20px;
    justify-content: center;
}
.col-12{
    margin-bottom: 163px;
    padding-left: 30px;
    h3{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
